@font-face {
    font-family: 'SFNewRepublic';
    src: url('fonts/SFNewRepublic.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'SofiaPro';
    src: url('fonts/SofiaPro.ttf') format('truetype');
  }